example/example
libezyfox-client.a
.idea/
CMakeFiles/
Makefile
cmake-build-debug/
cmake_install.cmake
example/.idea/
example/CMakeCache.txt
example/CMakeFiles/
example/CMakeLists.txt
example/Makefile
example/Testing/
example/cmake_install.cmake
example/example.cbp
ezyfox-client.cbp
**/xcuserdata/
.DS_Store
*.DS_Store
.cproject
.project
socket.xcodeproj/
src/Info.plist
lib/
ezyfox-server-cpp-client.xcodeproj/
src/main.cpp
build/
*/build/
